<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Thank you</title>
</head>
<body>
    <h1 class="text-5xl flex justify-center items-center text-amber-700 ">Thank you for your order</h1>
    <p class="p-3 border-3 border-amber-700 text-center"><a href="/">Back to home</a></p>
</body>
</html>